<style media="screen">
  fieldset{
    color: black;
  }
</style>
<fieldset>
  <legend>Registration</legend>

<form name="regForm" novalidate>
  <input type="text" name="firstname" placeholder="First Name" ng-model="reg.user.firstname" required minlength="4">
  <span
    ng-if="(regForm.firstname.$error.minlength ) && regForm.firstname.$touched">
    First Name must be at least 4 characters long
  </span>
  <br>
  <input type="text" name="lastname" placeholder="Last Name" ng-model="reg.user.lastname" required minlength="1">
  <span
    ng-if="(regForm.lastname.$error.minlength ) && regForm.lastname.$touched">
    Last Name must be at least 1 character long
  </span>
  <br>
  <input type="email" name="email" placeholder="Email address" ng-model="reg.user.email" required>
  <span ng-if="regForm.email.$invalid && regForm.email.$touched">
    Must be a valid email address: handle@domain format
  </span>
  <br>

  <input type="text" name="phone" placeholder="Phone ###-###-####"
    ng-model="reg.user.phone"
    pattern="(\d{3})-(\d{3})-(\d{4})">
    <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
      Phone must be in the format ###-###-####.
    </span>
    <br>

    <input type="text" name="shortname" placeholder="Short Name"
      ng-model="reg.user.short_name"
      ><span ng-if="reg.error_msg">{{reg.error_msg}}</span>
      <br>

      <button
        ng-disabled="regForm.$invalid"
        ng-click="reg.submit()">Submit</button>

        <p ng-if="reg.save_msg">{{reg.save_msg}}</p>
</form>
</fieldset>
